// COLOR VARIABLES
$color-primary: #C69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// BORDER RADIUS
$border-primary: 3px solid $color-primary;
$border-secondary: 3px solid $color-secondary;
$border-circle-primary: 50% solid $color-primary;
$border-circle-secondary: 50% solid $color-secondary;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
    font-size: 62.5%; // 1rem = 10px
    box-sizing: border-box;
}

body {
    font-family: $font-primary;
    color: $color-grey-dark-2;
    background-color: $color-grey-light-1;
}

.container{
    display: grid;
    /*
        80vh - 80% of the viewport height
        min-content - the height of the content
        40vw - 40% of the viewport width
        repeat(3, min-content) - repeat 3 times the height of the content
    */
    grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
    /*
        8rem - 8rem fixed width (Sidebar)
        1fr - 1 fraction of the available space
        repeat(8, minmax(min-content, 14rem)) - repeat 8 times the minimum content width and maximum 14rem
    */
    grid-template-columns: 
        [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr)
        [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 
        minmax(6rem, 1fr) [full-end];

    > * {
        padding: 2rem;
    }
}