.gallery{
    background-color: $color-grey-light-1;
    grid-column: full-start / full-end;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 5vw);
    gap: 1rem;
    
    &__item{

        /*aspect-ratio: 3 / 2;*/
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        &--1
        {
            background-image: url("img/gal-1.jpg");
            grid-area: 1 / 1 / 3 / 3;
        }
        &--2
        {
            background-image: url("img/gal-2.jpg");
            grid-area: 1 / 3 / 4 / 6;
        }
        &--3
        {
            background-image: url("img/gal-3.jpg");
            grid-area: 1 / 6 / 3 / 7;
        }
        &--4
        {
            background-image: url("img/gal-4.jpg");
            grid-area: 1 / 7 / 3 / 9;
        }
        &--5
        {
            background-image: url("img/gal-5.jpg");
            grid-area: 3 / 1 / 6 / 3;
        }
        &--6
        {
            background-image: url("img/gal-6.jpg");
            grid-area: 4 / 3 / 6 / 5;
        }
        &--7
        {
            background-image: url("img/gal-7.jpg");
            grid-area: 4 / 5 / 5 / 6;
        }
        &--8
        {
            background-image: url("img/gal-8.jpg");
            grid-area: 3 / 6 / 5 / 8;
        }
        &--9
        {
            background-image: url("img/gal-9.jpg");
            grid-area: 3 / 8 / 6 / 9;
        }
        &--10
        {
            background-image: url("img/gal-10.jpg");
            grid-area: 6 / 1 / 8 / 2;
        }
        &--11
        {
            background-image: url("img/gal-11.jpg");
            grid-area: 6 / 2 / 8 / 4;
        }
        &--12
        {
            background-image: url("img/gal-12.jpg");
            grid-area: 6 / 4 / 8 / 5;
        }
        &--13
        {
            background-image: url("img/gal-13.jpg");
            grid-area: 5 / 5 / 8 / 8;
        }
        &--14
        {
            background-image: url("img/gal-14.jpg");
            grid-area: 5 / 5 / 8 / 8;
        }
        &--15
        {
            background-image: url("img/gal-15.jpg");
            grid-area: 6 / 8 / 8 / 9;
        }
    }
}