.homes{
    grid-column: center-start / center-end;
    display: grid;
    grid-gap: 7rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

.home{
    background-color: $color-grey-light-1;
    font-size: 2rem;
    display: grid;
    grid-template-columns: repeat(2, [col-home-start] minmax(0, 1fr) [col-home-end]);
    // grid-template-rows: repeat(6, [row-home-start] minmax(0, 1fr) [row-home-end]);

    &__img {
        /*padding-top: 66.66%;*/ // 3:2 aspect ratio (adjust if needed)
        aspect-ratio: 3 / 2;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        z-index: 1;

        &--1{
            background-image: url("img/house-1.jpg");
        }
        &--2{
            background-image: url("img/house-2.jpg");
        }

        &--3{
            background-image: url("img/house-3.jpg");
        }
        &--4{
            background-image: url("img/house-4.jpg");
        }

        &--5{
            background-image: url("img/house-5.jpg");
        }
        &--6{
            background-image: url("img/house-6.jpg");
        }
    }

    &__like{
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        justify-self: end;
        margin: 1rem;
        z-index: 2;
    }

    &__like
    , &__rooms
    , &__area
    , &__name
    , &__price{
        i{
            height: 1.5rem;
            width: 1.5rem;
            background-size: cover;
        }

        p {
            font-size: 1.5rem;
        }
    }

    &__name{
        font-family: $font-display;
        font-size: 1.6rem;
        color: #fff;
        font-style: italic;
        grid-column: 1 / -1;
        text-align: center;
        background-color: rgba($color-secondary, .8);
        padding: 1.25rem;
        font-weight: 400;
        width: 80%;
        justify-self: center;
        transform: translateY(-50%);
        z-index: 2;
    }

    &__price{
        font-size: 1.5rem;
        color: $color-primary;
        font-weight: bold;
    }

    &__link{
        font-size: 1.5rem;
        color: $color-primary;
        text-decoration: none;
        border: 1px solid $color-primary;
        padding: .5rem 1rem;
        border-radius: 3px;
        grid-column: 1 / -1;
        justify-self: center;
    }

    &__location
    , &__rooms
    , &__area
    , &__price
    {
        text-align: center;
    }
}