.sidebar{
    grid-row: 1 / -1;
    grid-column: sidebar-start / sidebar-end;
    background-color: $color-primary;

    .logo{
        font-family: $font-display;
        color: $color-grey-light-1;
        font-size: 2.5rem;
        text-align: center;
        padding: 3rem 0;

        &__img{
            width: 3rem;
            height: 3rem;
        }
    }
}