@import 'base';
@import 'typography';

@import 'sidebar';
@import 'header';
@import 'realtors';
@import 'features';
@import 'story';
@import 'homes';
@import 'gallery';
@import 'footer';

@import '@fortawesome/fontawesome-free/css/all.min.css';
